.project-item {
    background-color: rgb(19, 19, 19);;
    text-align: center;
    width: 30%;
    margin-right: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}

.project-item p {
    margin: 0;
}

.card-header {
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
}

.subtitle {
    font-size: .8em;
}

.project-desc {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.image-link-container {
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
    justify-content: flex-end;
    align-items: flex-end;

}

.image-link {
    object-fit:contain;
    height: 40px;
    padding-left: 10px;
}